form {
  display: inline;
}
body {
  padding-top: 40px;
  font-size: 20px;

}

.fightInfo {
  font-size: 18px;
}

.fightStats {
  float: right;
}

.intro1 {
}

.intro2 {

}

.intro3 {

}

.treasure1 {

}

.treasure2 {

}

.treasure {

}

.ending1 {

}

.endingLast {

}

.battleWin {

}

.fightButton {
  margin-top: 25px;
  color: #FF0000;
  background-color: black;
  padding: 10px 15px 10px 15px;
}

.storyButton {
  margin-top: 25px;
  color: #FF0000;
  background-color: black;
  padding: 10px 15px 10px 15px;
}
