form {
  display: inline;
}

body {
  padding-top: 40px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: monospace;

}

.image {
  margin-bottom: 20px;
}

.fightInfo {
  font-size: 18px;
}

.fightStats {
  float: right;
}

.intro1 {
}

.intro2 {

}

.intro3 {

}

.treasure1 {

}

.treasure2 {

}

.treasure {

}

.ending1 {

}

.endingLast {

}

.battleWin {

}

.heroButton {
  margin-top: 25px;
  font-family: Comic Sans MS;
  color: black;
  background-color: red;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
}

.heroButton :hover {
  margin-top: 25px;
  font-family: Comic Sans MS;
  color: black;
  background-color: #8C1717;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
}

.fightButton {
  margin-top: 25px;
  font-family: Comic Sans MS;
  color: black;
  background-color: red;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
}

.fightButton :hover {
  margin-top: 25px;
  font-family: Comic Sans MS;
  color: black;
  background-color: #8C1717;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
}

.storyButton {
  margin-top: 35px;
  font-family: Comic Sans MS;
  color: black;
  background-color: red;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
}

.heroButton :hover {
  margin-top: 25px;
  font-family: Comic Sans MS;
  color: black;
  background-color: #8C1717;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
}
