form {
  display: inline;
}
.intro1 .intro2 .intro3 {
  font-size: 22px;
}

.intro1 {

}

.intro2 {

}

.intro3 {

}

.treasure1 {

}

.treasure2 {

}

.treasure {

}

.ending1 {

}

.endingLast {

}

.battleWin {

}

.fightButton {
  margin-top: 25px;
  color: #FF0000;
  background-color: black;
}

.storyButton {
  margin-top: 25px;
  color: #FF0000;
  background-color: black;
}
