battle-win


Congratulations on beating $monster.getMonsterName()!
<br>
$hero.getName() you have earned $monster.getMonsterExp() experience, and $monster.getMonsterGold() Gold!
<br>
<form action='/battleAgain/$hero.getId()' method='post'>
  <button type="submit">Return to Battle</button>
</form>
