
<div class="container">
"When I treated women I was attracted to chivalrously, as I'd been brought up to, I got nowhere. Even if it involved treating them exactly how they said they wanted to be treated, I got walked over. I will never go back to that practice, or encourage anyone else to either."
This is not the year you meet your love...at least Momo will always understand you.
</div>
<div class="loseButton">
<a href="/login" type="btn heroButton">Try Again</a>
</div>
