battle-win

<div class="container battleWin">
Congratulations on beating $monster.getMonsterName()!
<br>
$hero.getName() you have earned $monster.getMonsterExp() experience, and $monster.getMonsterGold() Gold!
</div>
<div class="container fightButton">
<form action='/hero/$hero.getId()' method='post'>
  <button type="submit">Return to the Action</button>
</form>
</div>
