<div class="container endingLast">
  <h5>You beat the Game! You certainly are a certified neckbeard now!</h5>
  <h5>Thanks for playing!</h5>
</div>
<div class="container newGameButton">
  <a href="/" class="btn heroButton">Next</a>
</div>
