hero.vtl

Welcome to the game $hero.getName()

Speed: $hero.getSpeed()
Attack: $hero.getAttack()
Defense: $hero.getDefense()
Stamina: $hero.getStamina()
Experience: $hero.getExperience()
Currency: $hero.getCurrency()
Hero ID: $hero.getId()
