<div class="intro2 container">
  <p>Euphoria turned to annoyance as he continued screeching out "Mom!" from his damp basement abode. What was holding her up this morning? She <i>knew</i> how important today was going to be for him. It seemed like he had been yelling for an hour when he finally heard the door open at the top of the stairs. The smell of hot chicken wafted down towards $hero.getName(), mingling with the smells of old socks and stale sweat that was the norm down here in the dungeon. <i>All right, Tendies,</i> he thought as he glared at the feeemale coming down the stairs. He berated her for her tardiness, smugly. Then, just to drive the point home, he demanded she go back up for his Mountain Dew that she'd neglected to bring.</p>
</div>
<div class="container storyButton">
  <a href="/$hero.getId()/intro3" type="btn btn-lg btn-default">Next</a>
</div>
