<div class="intro1 container">
  <p>One day, $hero.getName() woke up with a grin plastered across his face, much like his smattering of acne. He buried his face into the long pillow next to him and kissed his waifu, Momo. He knew that today was a very special day. Even with all of the love for the inanimate pillow next to him, it did not match the tingles he felt for Twilight Sparkle. He knew it would not, nay, could not be the <i>real</i> Twilight Sparkle that he was going to meet today, but the actress that portrayed the angelic figure would have to be enough.</p>
</div>
<div class="container storyButton">
  <a href="/$hero.getId()/intro2" class="btn btn-lg">Next</a>
</div>
