

<h2>Congrats on the level!<h2>
<br>
<h5>You are now $hero.getLevel()</h5>
<br>
<div class="container">
  <a href="/hero/$hero.getId()" type="btn btn-lg btn-default" class="storyButton">Back to the action!</a>
</div>
